<template>
  <div id="app">
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <span class="navbar-brand h1">Likebook Note to Markdown</span>
        <a
          class="btn btn-sm btn-outline-light me-2"
          href="https://gitlab.com/uroybd/likebook-to-markdown"
          ><FontAwesomeIcon icon="fa-brands fa-gitlab" />
          Source Code
        </a>
      </div>
    </nav>
    <div class="container-fluid pt-3">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <label for="basic-url" class="form-label h5"
            >Likebook Exported HTML Note</label
          >
          <div class="input-group mb-3">
            <input
              type="file"
              class="form-control"
              id="inputFile"
              ref="inputfile"
              @change="handleInput"
              accept="text/html"
              placeholder="Note File (HTML)"
            />
            <button class="btn btn-danger" @click="clearInput" v-if="input">
              Clear
            </button>
          </div>
        </div>
      </div>
      <div class="row main-container pt-3">
        <div class="col-lg-6 section input" v-html="input" ref="input"></div>
        <div class="col-lg-6 section output">
          <div class="floating-menu" v-if="output">
            <button
              type="button"
              class="btn btn-sm btn-outline-dark"
              @click.prevent="isMarkdownView = !isMarkdownView"
            >
              <FontAwesomeIcon icon="fa-solid fa-eye" v-if="isMarkdownView" />
              <FontAwesomeIcon v-else icon="fa-brands fa-markdown" />
            </button>
            <button
              class="btn btn-sm btn-outline-secondary ml-2"
              @click="copyMD"
              id="copyBtn"
            >
              <FontAwesomeIcon icon="fa-solid fa-clipboard" /> Copy
            </button>
            <a
              v-if="filename && outputFile"
              class="btn btn-sm btn-outline-danger"
              :download="filename"
              :href="outputFile"
            >
              <FontAwesomeIcon icon="fa-solid fa-file-download" />
              Download
            </a>
          </div>
          <pre class="viewer" v-if="isMarkdownView">{{ output }}</pre>
          <VueMarkdown
            v-else
            id="text"
            class="viewer"
            ref="output"
            :watches="['output']"
            :source="output"
          >
          </VueMarkdown>
        </div>
      </div>
    </div>
    <div class="position-fixed toast-container end-0 p-3" style="z-index: 11">
      <div
        id="copyToast"
        class="toast bg-primary text-white hide"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body">Text Copied!</div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueMarkdown from "vue-markdown";
import "bootstrap/dist/css/bootstrap.css";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faGitlab, faMarkdown } from "@fortawesome/free-brands-svg-icons";
import {
  faClipboard,
  faEye,
  faFileDownload,
} from "@fortawesome/free-solid-svg-icons";
import Toast from "bootstrap/js/src/toast";

library.add(faGitlab, faFileDownload, faClipboard, faMarkdown, faEye);

const PUNCTUATIONS_REGEX = /([.?;!,——])([^\s])/g;

function adjustPunctuations(match, p1, p2) {
  return `${p1} ${p2}`;
}

export default {
  name: "App",
  components: {
    VueMarkdown,
    FontAwesomeIcon,
  },
  data() {
    return {
      input: "",
      output: "",
      filename: "",
      outputFile: "",
      isMarkdownView: false,
      copyToast: null,
    };
  },
  watch: {
    input: function (newInput, oldInput) {
      if (newInput != oldInput) {
        if (newInput.length == 0) {
          this.output = "";
        } else {
          const inp = document.createElement("div");
          inp.innerHTML = newInput;
          const header = inp.querySelector("h2");
          const headerOut = this.createHeader(header);

          const content = inp.querySelectorAll(
            'div[style*="margin: 0px auto; padding: 5px; font-size: 12pt;"] > div'
          );
          const contentOut = this.createContent(content);
          const output = [...headerOut.output, ...contentOut];

          this.output = output.join("\n");
          this.filename = `${headerOut.title} by ${headerOut.author}.md`;
          var f = new Blob([this.output], {
            type: "text/plain",
          });
          this.outputFile = window.URL.createObjectURL(f);
        }
      }
    },
  },
  methods: {
    clearInput() {
      this.$refs["inputfile"].value = "";
      this.input = "";
    },
    copyMD() {
      navigator.clipboard.writeText(this.output);
      if (this.copyToast) {
        this.copyToast.show();
      }
    },
    simplify(text) {
      return text
        .replace("\n", " ")
        .replace(/\s+/g, " ")
        .replace(PUNCTUATIONS_REGEX, adjustPunctuations)
        .trim();
    },
    createHeader(header) {
      let [author, ...title] = header.innerText.split("-");
      title = this.simplify(title.join("-"));
      author = this.simplify(author);
      let output = [`# ${title}`, `### ${author}\n`];
      return { title, author, output };
    },
    createContent(content) {
      console.log(content);
      const data = [];
      for (let index = 0; index < content.length; index++) {
        const element = content[index];
        const heading = element.querySelector(
          'span[style*="font-weight: bold; color: #48b4c1;"]'
        );
        if (heading) {
          data.push(`## ${this.simplify(heading.innerText)}`);
        } else {
          const timeEle = element.querySelector(":nth-child(1)");
          if (timeEle.innerText) {
            data.push(`### Time: ${this.simplify(timeEle.innerText)}`);
            data.push(
              this.simplify(element.querySelector(":nth-child(2)").innerText)
            );
            const remark = this.simplify(
              element.querySelector("table > tbody > tr > td:nth-child(2)")
                .innerText
            );
            if (remark !== "Underline notes") {
              data.push(`\n---\n*${remark}*`);
            }
          }
        }
        data.push("\n");
      }
      return data;
    },
    handleInput(evt) {
      const file = evt.target.files[0];
      if (file) {
        var fr = new FileReader();
        fr.onload = () => {
          this.input = fr.result.replace("\n", "");
        };

        fr.readAsText(file);
      }
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.copyToast = new Toast(document.getElementById("copyToast"), {
        autohide: true,
      });
    });
  },
};
</script>

<style lang="scss">
.section {
  max-height: 85vh;

  @media (max-width: 991.98px) {
    max-height: 40vh;
  }
}

.input {
  overflow-y: scroll;
}

.output {
  position: relative;
  padding-top: 50px;

  .floating-menu {
    position: absolute;
    top: 0;
    right: 12px;

    .btn {
      margin-left: 10px;
    }
  }

  .viewer {
    overflow-y: scroll;
    height: 100%;
  }

  pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
}

.toast-container {
  top: 5vh;
}
</style>
